html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
  background-color: white;
  color: #191919;
  margin: 0px;
}

/*full screen css*//*full screen css*//*full screen css*//*full screen css*//*full screen css*/
.frontPageText{
  width: 60%;
}

.frontPageGif {
  width: 340px;
}

.frontPageHeader {
  background-color: white;
  color: black;
  padding: 2rem 8rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: flex-end;
  /*margin: 4rem 8rem;*/
}

.frontPageHeader a {
  margin-left: 2rem;
   color: #191919;
   text-transform: uppercase;
   font-weight: 500;
   padding: .25rem;
}


.frontPageHeader a:hover {
   margin-left: 2rem;
   color: white;
   background-color: blue;
   text-decoration: underline;
}

.frontPageHeader a:active {
   margin-left: 2rem;
   color: blue;
   text-decoration: underline;
}

#selectedNav {
  color: blue;
}

#selectedNav:hover {
  color: blue;
  background-color: white;
}



/*.frontPageHeader p {
  display: inline-block;
  margin-left: 10rem; 
}*/

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.textButton {
  color: blue;
  text-decoration: underline;
  display: block;
}

.textButton:hover {
  font-weight: bold;
}

.textButton:active {
  background-color: #eee;
}

/*front page styles*//*front page styles*//*front page styles*//*front page styles*/
.bigButton{
  background-color: lightgreen;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 4rem;
  border: 0px;
  color: #191919;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}


.bigButton:hover {
  background-color: #fafafa;
}

.bigButton:active {
  background-color: #eee;
}

.bigButton:visited {
  color: #191919;
}


body > section > div > p:nth-child(7) {
  margin-bottom: 0rem;
}

/*.frontPageText a {
  display: inline-block;
}
*/
.headline {
  font-weight: bold;
  font-size: 2.75rem;
  margin: 1rem 0rem .75rem;
}

/*.headline::before {
  content: url(logo.png);
  width: 50%;
}*/

.question {
  text-transform: uppercase;
  color: #5a5a5a;
  margin: 0rem;
  font-weight: bolder;
  font-size: .75rem;
}

.answer {
  margin: .5rem 0rem 3rem 0rem;
  width: 90%;
  line-height: 1.5rem;
  /*font-size: 2px;*/
}

.container {
  display: block;
  padding: 4rem 8rem;
}

.work {
  background-color: #eee;
  padding: 8rem;
}

/*.work p {
  padding: 6rem 0rem 0rem 6rem;
}*/

.workCaption {
  margin-bottom: 3rem;
}

.mobile {
  display: none;
}

.frontPage {
  margin-bottom: 1.5rem;
}

.workPreviews {
  display: block;
  /*display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: space-around;*/
}

.workPreviews div {
  height: 31rem;
  background-color: lightgrey;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2rem 2rem 0rem 0rem;
  color: white;
  text-align: right
}

.workPreviews:hover div {
  color: white;
  text-decoration: underline;
}

.secondRecentWork {
  margin-top: 8rem;
}

.firstRecentWork div {
  background-image: url("nd-project-3.png");
  background-size: 101%;
}

.workPreview a:hover {
  background-color: red;
}



.secondRecentWork div {
  background-image: url("exp-project-3.png");
  background-size: 101%; 
}


/*landing page for work styles*/


footer {
  padding: 4rem;
  background-color: #c3c3c3;
  text-align: center;
  margin: 0 auto;
  color: rgba(0,0,0,.34);
}

.projectButton {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 12rem;
  background-color: rgba(255,255,255,.54);
  border: 1px solid white;
  text-transform: uppercase;
}

.projectButton:hover {
  background-color: rgba(255,255,255,1);
  color: #191919;
} 

.projectButton:active {
  background-color: rgba(255,255,255,.87);
  font-size: 1.125rem;
  border: 2px solid white;
} 

/*.workSection:hover {
  background-color: black;
  color: lightgreen;
}*/

.workSection:active {}

.dribbble {
  background-image: url("motion-project.gif");
  background-position: 99% 90%;
}

.mocks {
  background-image: url("mocks-project.png");
}

.headline {
  display: inline-block;
}

.headerButton {
  float: right;
  line-height: 44px;
}

.workSection {
  display: block;
  text-align: center;
  color: #191919;
  padding: 16rem 4rem;
  margin: 4rem;
}

.ooogIntro {
  background-color: white;
  padding-top: 0rem;
  padding-bottom: 4rem;
}

.ooogIntro h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 4rem; 
  margin-bottom: 4rem;
  text-align: center;
}

.ooogIntro p {
  margin: 0 auto;
  text-align: left;
  width: 50%;
}

a:-webkit-any-link {
    /*color: #191919;*/
    cursor: pointer;
    text-decoration: none;
}

.notreDame {
  background-image: url("nd-project.png");
  color: white;
}

/*.notreDame h1 {
  color: white;
}

.notreDame p {
  color: white;
}*/

.expappRedesign {
  background-image: url("exp-project.png");
  color: white;
}

/*styles for the work pages*/

.compressed {
  padding: 4rem;
}

.projectIntro {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: space-between;
  margin: 4rem;
  padding: 0rem 6rem 4rem;
  border-bottom: 1px solid grey;
}

.projectHero {
  /*padding: 0rem 4rem 0rem 0rem;*/
  width: 330px;
}

.about {
    border: 1px solid white;
  }

.processPart {
  margin: 4rem;
  padding: 0rem 12rem 2rem;
  border-bottom: 1px solid grey;
}

.about {
  margin: 0rem;
  padding: 0rem 12rem 2rem;
  border-bottom: 0px solid grey;
}

.conclusion {
  border: none;
  padding-bottom: 3rem;
}

.projectIntroText {
  text-align: left;
  width: 50%;
}

.horizontalPhoto {
  margin: 2rem auto;
  width: 100%;
}

/*.caseAnswer {
  width: 50%;
}*/

.endButtons {
  display: block;
  text-align: center;
  padding: 2rem;
  background-color: blue;
  color: white;
  margin: 2rem 8rem;
  text-decoration: none;
}

/*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*/

@media (max-width: 480px){
  .container {
    display: block;
    margin: 0;
    padding: 1.2rem;
  }

  .firstRecentWork div {
  background-image: url("nd-project-mobile.png");
}

.secondRecentWork div {
  background-image: url("exp-project-mobile.png");
}

  .horizontalPhoto {
  margin: 1.2rem auto;
  width: 100%;
}

  .testContainer {
    margin: 1.2rem;
  }

  .about {
    border: 1px solid white;
  }

  .frontPageHeader{
    font-size: .75rem;
    justify-content: space-around;
    padding: 1rem 0rem;
  }

  .frontPageHeader a {
    margin: 0rem;
  }

  .frontPageHeader a:hover {
   margin: 0rem;
   background-color: white;
   color: blue;
 }

 .frontPage {
  font-size: .8rem;
 }

  .frontPageText {
    /*padding: 2rem 0rem 2rem 2rem;*/
    width: 90%;
    text-align: left;
  }

  .work {
    display: block;
    padding: 1.2rem;
  }

  .workPreviews {
    display: block;
  }

.workPreviews div {
  display: block;
  background-color: lightgrey;
  height: 16rem;
  color: rgba(255, 255, 255, 0);
  }

  .workCaption {
    margin-bottom: 1rem;
  }

  .secondRecentWork {
    margin-top: 1.2rem;
  }

  .bigButton {
    position: relative;
    margin-top: 2rem;
    display: block;
  }

  .bigButton:hover {
    background-color: blue;
    color: white;
  }

  .bigButton:active {
    background-color: #eee;
    color: blue;
  }

  /*LANDING WORK MOBILE STYLES*/

  .workSection {
    display: block;
    text-align: center;
    padding: 2.5rem 1.25rem;
    margin: 0rem 0rem 1.2rem 0rem;
  }

  .ooogIntro {
    background-color: white;
    padding-top: 0rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
  }

  .headline {
    font-size: 1.5rem;
  }

  nav {
    padding: 1rem;
  }

  nav .headline {
    margin: 0;
  }

  .answer {
    width: 100%;
  }

  p {
    display: block;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .ooogIntro h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .projectButton {
    padding: .5rem;
  }


  h1 {
    display: block;
    font-size: 1em;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: 0rem;
    -webkit-margin-end: 0rem;
    font-weight: 500;
}

  .ooogIntro p {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    /*font-size: 1rem;*/
  }

  /*case study styles*//*case study styles*//*case study styles*//*case study styles*/

  .projectIntro {
    display: block;
    margin: 1rem;
    padding: 0rem 0rem 2rem;
  }

  .projectIntroText {
    width: 95%;
  }

  .notreDame {
    background-color: #032342;
    background-image: none;
  }

  .expappRedesign {
    background-color: #674AE2;
    background-image: none;
  }

  .dribbble {
   background-color: lightgreen; 
   background-image: none;
  }

  .mocks {
    background-color: #4AE2B4;
    background-image: none;
  }

  .caseAnswer{
    width: 95%;
  }

  .endButtons {
    margin: 1rem;
  }

  .frontTitle {
    margin-bottom: .5rem;
    margin-top: 1.2rem;
  }

  .projectHero {
    display: none;
  }

  .processPart {
    margin: 1rem;
    padding: 0rem;
  }

  .conclusion {
    padding-bottom: 3rem;
  }

}
