html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
  background-color: white;
  color: #191919;
  margin: 0px;
}

/*full screen css*/
.frontPageText{
  width: 40%;
}

.contact {
  font-size: 1rem;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.textButton {
  font-size: 16px;
  color: blue;
  text-decoration: underline;
}

.textButton:hover {
  font-weight: bold;
}

.textButton:active {
  background-color: #eee;
}

.blueButton{
  background-color: blue;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 4rem;
  border: 0px;
  color: white;
  text-decoration: none;
}


.blueButton:hover {
  background-color: white;
  color: blue;
  font-size: 1.55rem;
}

.blueButton:active {
  background-color: #eee;
}

.headline {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .125rem;
  margin-bottom: .75rem;
}

.question {
  text-transform: uppercase;
  color: #5a5a5a;
  margin: 3rem 0rem 0rem 0rem;
  font-weight: bolder;
  font-size: .75rem;
}

.answer {
  margin: .5rem 0rem 0rem 0rem;
  width: 90%;
  /*font-size: 2px;*/
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: space-around;
  margin: 4rem 8rem;
}

@media (max-width: 480px){
  .container {
    display: block;
    margin: 0;
  }

  .frontPageText {
    padding: 2rem 0rem 2rem 2rem;
    width: 90%;
    font-size: .9rem;
  }

  .blueButton {
    position: relative;
    margin-top: 2rem;
    display: block;
  }

  .blueButton:hover {
    background-color: blue;
    color: white;
  }

  .blueButton:active {
    background-color: #eee;
    color: blue;
  }
}
