body {
	background-color: #fafafa;
}

html {
font-family: sans-serif;
font-family: monospace;
}

p {
	color: #333;
	max-width: 33%;
}

a {
	color: #333;
	text-decoration: none;
}

a:visited {
	color: #333;
}

a:hover {
	text-decoration: underline;
}

section {
	margin-top: 2.4%;
}

/*mobile ish sizes*/
@media (max-width: 480px){
	section {
		margin-top: 24%;
	}
	p {
	color: #333;
	max-width: 66%;
}
	}
