body {
	background-image: url("2.png");
	scale: 100%;
}

html {
font-family: sans-serif;
font-family: monospace;
}

p {
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	text-decoration: underline;
}

section {
	margin-top: 2.4%;
}

/*mobile ish sizes*/
@media (max-width: 480px){
	section {
		margin-top: 24%;
	}
	}